<?xml version="1.0" encoding="ISO-8859-1"?>
 <web-app>
    <display-name>Jwitter</display-name>
    <description>
     A twitter clone using Java Tomcat !
    </description>
    
   <servlet-mapping>
      <servlet-name>default</servlet-name>
      <url-pattern>/</url-pattern>
  </servlet-mapping>
 
 <servlet>
        <servlet-name>NewUser</servlet-name>
      	<servlet-class>servlets.user.NewUserServlet</servlet-class>
</servlet>
<servlet-mapping>
        <servlet-name>NewUser</servlet-name>
        <url-pattern>/user/new</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>Login</servlet-name>
	<servlet-class>servlets.user.LoginUserServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>Login</servlet-name>
	<url-pattern>/user/login</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>Logout</servlet-name>
	<servlet-class>servlets.user.LogoutUserServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>Logout</servlet-name>
	<url-pattern>/user/logout</url-pattern>
</servlet-mapping>

<servlet>
	 	<servlet-name>Info</servlet-name>
	 	<servlet-class>servlets.user.InfoServlet</servlet-class>
	 </servlet>
 <servlet-mapping>
	 	<servlet-name>Info</servlet-name>
	 	<url-pattern>/user/info</url-pattern>
 </servlet-mapping>

 <servlet>
        <servlet-name>AddFriend</servlet-name>
      	<servlet-class>servlets.friend.AddFriendServlet</servlet-class>
</servlet>
<servlet-mapping>
        <servlet-name>AddFriend</servlet-name>
        <url-pattern>/friend/add</url-pattern>
</servlet-mapping>

    <servlet>
        <servlet-name>RemoveFriend</servlet-name>
      	<servlet-class>servlets.friend.RemoveFriendServlet</servlet-class>
    </servlet>
	<servlet-mapping>
        <servlet-name>RemoveFriend</servlet-name>
        <url-pattern>/friend/remove</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ListFriend</servlet-name>
      	<servlet-class>servlets.friend.ListFriendServlet</servlet-class>
    </servlet>
	<servlet-mapping>
        <servlet-name>ListFriend</servlet-name>
        <url-pattern>/friend/list</url-pattern>
    </servlet-mapping>
    
	 <servlet>
	 	<servlet-name>PostMessage</servlet-name>
	 	<servlet-class>servlets.message.NewMessageServlet</servlet-class>
	 </servlet>
	 <servlet-mapping>
	 	<servlet-name>PostMessage</servlet-name>
	 	<url-pattern>/message/post</url-pattern>
	 </servlet-mapping>
	 
	 <servlet>
	 	<servlet-name>DeleteMessage</servlet-name>
	 	<servlet-class>servlets.message.DeleteMessageServlet</servlet-class>
	 </servlet>
	 <servlet-mapping>
	 	<servlet-name>DeleteMessage</servlet-name>
	 	<url-pattern>/message/delete</url-pattern>
	 </servlet-mapping>
	 
	 <servlet>
	 	<servlet-name>ListMessage</servlet-name>
	 	<servlet-class>servlets.message.ListMessageServlet</servlet-class>
	 </servlet>
	 <servlet-mapping>
	 	<servlet-name>ListMessage</servlet-name>
	 	<url-pattern>/message/list</url-pattern>
	 </servlet-mapping> 
	 
	 <servlet>
	 	<servlet-name>SearchMessage</servlet-name>
	 	<servlet-class>servlets.search.SearchMsgServlet</servlet-class>
	 </servlet>
	 <servlet-mapping>
	 	<servlet-name>SearchMessage</servlet-name>
	 	<url-pattern>/search/message</url-pattern>
	 </servlet-mapping>
	 
	 <servlet>
	 	<servlet-name>MapReduceServlet</servlet-name>
	 	<servlet-class>servlets.search.MapReduceServlet</servlet-class>
	 </servlet>
	 <servlet-mapping>
	 	<servlet-name>MapReduceServlet</servlet-name>
	 	<url-pattern>/search/reduce</url-pattern>
	 </servlet-mapping>
	 
	 <servlet>
	 	<servlet-name>SearchMessageRSV</servlet-name>
	 	<servlet-class>servlets.search.SearchRSVServlet</servlet-class>
	 </servlet>
	 <servlet-mapping>
	 	<servlet-name>SearchMessageRSV</servlet-name>
	 	<url-pattern>/search/rsv</url-pattern>
	 </servlet-mapping>
</web-app>
 
