<?xml version="1.0" encoding="ISO-8859-1"?>
 <web-app>
 <servlet>
        <servlet-name>NewUser</servlet-name>
      	<servlet-class>servlets.auth.NewAuthServlet</servlet-class>
    </servlet>
	<servlet-mapping>
        <servlet-name>NewUser</servlet-name>
        <url-pattern>/user/new</url-pattern>
    </servlet-mapping>
 </web-app>
